<!DOCTYPE html>
<html>
<head>
  <title>SZIMDb</title>
  <link rel="icon" href="<%= image_url('logo.png') %>" type="image/png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.logo = '<%= image_url('logo.png') %>'
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
